---
// src/layouts/Base.astro
import "../styles/global.css";
const { title = "Mi sitio" } = Astro.props;
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="grid grid-cols-12 bg-[#0b0e12] text-gray-100">
    <slot />
  </body>
</html>
